body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  /*******************
    Sympo Image
  ********************/
  
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("sympo.jpeg");
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top:-1.25%;
  }
  
  .hero-text {  
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .sympobtn:hover{
    background-color: rgb(55, 167, 55);
  }

  /********************
    Carousel
  ********************/

  .title{
    font-size: 35px;
    font-family: 'Roboto Slab', serif;
    text-decoration:underline;
  }
  .reviews {
    width : 600px; 
    height : 150px;
    overflow : hidden ;
    background-color : #fff ;
    border-radius : 5px;
    margin : 50px auto ;
    position : relative ;
    box-shadow : 0 0 10px -2px #ddd ;
  }
  .panel {
    width : 100%;
    max-height: 100%;
    position : absolute ; 
  }
  .PanelAct {
    left : 0 ;
  }
  .panel img { 
    width : 100px;
    height : 100px; 
    text-align : center ;
    float : left ; 
    margin : 25px; 
  }
  /*== Removal Start
  png images background
  ==*/
  .panel:nth-of-type(1) img {
      background : #12aedb ;
  }
  .panel:nth-of-type(2) img {
      background : #db4646 ;
  }
  .panel:nth-of-type(3) img {
      background : #96c465 ;
  }
  /*== Removal End==*/
  
  .panel p {
    float : left ; 
    width : 420px;
    clear : right ;
    text-align : justify ;
    margin : 25px 0 10px 0;
    font-size : 14px ; 
    color : #aaa ;
    line-height : 1.2em
  }
  .panel h7 { 
    float : left ; 
    width: 200px; 
    font-size : 14px ; 
    color : #999 ;
    font-weight : bold ;
    font-style : italic ;
  }
  .control { 
    position : absolute ; 
    bottom : 20px; 
    right : 30px;
  }
  .control span {
    background-color : rgba(0,0,0,0.1) ; 
    padding : 5px; 
    display : inline-block ;
    vertical-align : top ;
    margin-left : 5px ;
    border-radius : 50%;
    cursor : pointer ;
    transition : 0.3s ease-in
  }
  .ContActive {
    background-color : #bbb !important ;
  }

  /**************
  Carousel Hover
  **************/

/****************************
****************************/



/*********************
Pre-Loader
*********************/
.sk-folding-cube {
  position: absolute;
  top: 48%;
  left: 48%;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}
.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #47ffa9;
  z-index: 999999;
  } 